.error-box {
  margin: 4rem auto;
  max-width: 400px;
  background: white;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--primary);
}

.error-box h2 {
  color: var(--primary);
}

.error-box p {
  color: var(--text);
}
